- if user.errors.present?
    ul#errer_explanation
        - user.errors.full_messages.each do |msg|
            li= msg

= form_with model: [:admin, user], local: true do |f|
    .form-group
        =f.label :name
        =f.text_field :name, class: 'form-control'
    .form-group
        =f.label :email
        =f.text_field :email, class: 'form-control'
    .form-check.form-group
        =f.label :admin, class:'form-check-label' do
            =f.check_box :admin, class: 'form-check-input'
            | 管理者権限
    .form-group
        =f.label :image
        =f.file_field :image, class: 'form-control'
    .form-group
        =f.label :password
        =f.password_field :password, class: 'form-control'
    .form-group
        =f.label :password_confirmation
        =f.password_field :password_confirmation, class: 'form-control'
    =f.submit nil,class:'btn btn-primary'